<ion-grid class="background-pic">
  <ion-grid class="background-filter">
     <ion-content>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Cadastrar Produto</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              <ion-label>Nome do produto:</ion-label>  
                <ion-item>    
                  <ion-input type="text" [(ngModel)]="nome"></ion-input>
                </ion-item>
                 
              <ion-label >Descrição do produto:</ion-label>
                <ion-item>
                  <ion-input type="text" [(ngModel)]="descricao"></ion-input>
                </ion-item>
                
              <ion-label>Quantidade do produto:</ion-label>
                <ion-item>
                  <ion-input type="number" [(ngModel)]="quantidade"></ion-input>
              </ion-item>
                 
            <ion-label>Valor do produto:</ion-label> 
              <ion-item>    
                <ion-input type="text"[(ngModel)]="valor"></ion-input>
              </ion-item>
              
            <ion-label>Imagem</ion-label> 
              <ion-item *ngIf="!isUploading && !isUploaded">
                <ion-input type="file"[(ngModel)]="imagem" (change)="uploadFile($event.target.files)"></ion-input>
              </ion-item>

              <ion-item *ngIf="isUploading && !isUploaded">
                <ion-card-content>Selected File:<b>{{ fileName }}</b>
                  <div *ngIf="percentage | async as pct">
                    Progress: {{ pct | number }}%
                    <ion-progress-bar value="{{ pct / 100 }}"></ion-progress-bar>
                </div>
                <div *ngIf="snapshot | async as snap">
                    File Size: {{ snap.totalBytes }} Transfered: {{ snap.bytesTransferred }}
                    <div *ngIf="snapshot && snap.bytesTransferred != snap.totalBytes">
                        <ion-button color="warning" size="small" (click)="task.pause()" class="button is-warning">Pause</ion-button>
                        <ion-button size="small" (click)="task.resume()" class="button is-info">Resume</ion-button>
                        <ion-button color="danger" size="small" (click)="task.cancel()" class="button is-danger">Cancel</ion-button>
                    </div>
                </div>
        
                </ion-card-content>
 
              </ion-item>
                
            <ion-item class="bottom-section">
              <!-- Cadastro -->
              <ion-button (click)="cadastrar()">Cadastrar Produto</ion-button> 
              <!--Cancelar-->
                <ion-button><a href="http://localhost:8100/adm">Cancelar</a></ion-button>
            </ion-item>
               
          </ion-card-content>
         </ion-card>
      </ion-content>
  </ion-grid>
</ion-grid>