<ion-grid class="background-pic">
  <ion-grid class="background-filter">
     <ion-content>
        <ion-card>
            <ion-card-header>
              <ion-card-title>Atualizar Produto</ion-card-title>
            </ion-card-header>
            
            <ion-card-content>
              <ion-label>Nome do produto:</ion-label>  
                <ion-item>    
                  <ion-input type="text" [(ngModel)]="nome"></ion-input>
                </ion-item>
                 
              <ion-label >Descrição do produto:</ion-label>
                <ion-item>
                  <ion-input type="text" [(ngModel)]="descricao"></ion-input>
                </ion-item>
                
              <ion-label>Quantidade do produto:</ion-label>
                <ion-item>
                  <ion-input type="number" [(ngModel)]="quantidade"></ion-input>
              </ion-item>
                 
            <ion-label>Valor do produto:</ion-label> 
              <ion-item>    
                <ion-input type="text"[(ngModel)]="valor"></ion-input>
              </ion-item>
              
            <ion-label>Imagem</ion-label> 
              <ion-item>
                <ion-input type="file"[(ngModel)]="imagem"></ion-input>
              </ion-item>
                
            <ion-item class="bottom-section">
              <!-- Cadastro -->
              <ion-button (click)="atualizar()">Atualizar Produto</ion-button> 
              <!--Cancelar-->
                <ion-button><a href="http://localhost:8100/adm">Cancelar</a></ion-button>
            </ion-item>
               
          </ion-card-content>
         </ion-card>
      </ion-content>
  </ion-grid>
</ion-grid>