ion-content{
  --ion-background-color:rgb(240, 192, 233);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}
.tabs-top{
  color: rgb(201, 60, 219);
}
ion-tabs{
  --ion-tab-bar-background:rgb(64, 5, 112);
}
.nave{
  --ion-toolbar-background:rgb(17, 1, 20);
  color: rgb(236, 234, 234);
  text-align: center;
}
.text-forn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.tabs-icon-top{
  margin-top: 70%;
}
