
<!-- ADMINISTRADOR -->
<ion-header>
 <ion-toolbar class="nave">
  <ion-title size="small" class="text-forn">Forninhos & Docinhos </ion-title>
 <ion-button class="" (click)="OpenLogin()">Login</ion-button>
</ion-toolbar>
</ion-header>

 
<ion-content>

  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/Docinho Logotipo.png"/>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/Docinho Logotipo.png"/>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  
  
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/Docinho Logotipo.png"/>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <ion-card-header>
          <img src="../../assets/icon/Docinho Logotipo.png"/>
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
 <ion-tabs  class="tabs-icon-top">
  <!-- Tab bar -->
  <ion-tab-bar slot="bottom">

    <ion-tab-button  class="tabs-top">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrinho</ion-label>
    </ion-tab-button>

    <ion-tab-button  class="tabs-top">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label>Conta</ion-label>
    </ion-tab-button>


    <ion-tab-button (click)="OpenLogin()" class="tabs-top">
      <ion-icon name="return-up-forward-outline"></ion-icon>
      <ion-label>Sair</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>
