ion-content{
  --ion-background-color:rgb(240, 192, 233);
  font-family: Arial, Helvetica, sans-serif;
  
}
.tabs-top{
  color: rgb(201, 60, 219);
}
ion-tabs{
  --ion-tab-bar-background:rgb(64, 5, 112);
}
.nave{
  --ion-toolbar-background:rgb(17, 1, 20);
  color: rgb(236, 234, 234);
  text-align: center;
}
.text-forn{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-top: 15px;

}
.tabs-icon-top{
  margin-top: 70%;
}
ion-button{
  height: 40px;
  width: 100px;
  font-size: 14px;
  text-transform: none;
  --background:  rgb(201, 60, 219);
  font-weight: 300;       
  --border-radius: 10px;
  
     color:white;
}