<ion-header>
 
</ion-header>

<ion-content>
  <div class="background-container">
    <div class="background-filter">
      <ion-card>
        <img src="../../assets/icon/Docinho Logotipo.png"/>
        <ion-card-header>
          <ion-card-title>Sua realização é a nossa idealização.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-button (click)="loginPage()">
            Início
          </ion-button>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>